

    @media  screen and (max-width: 600px) {
        
    #anim {
    
        margin-top: 70%;
        font-size: 70px;
        text-align: center;
    }

    .footer{
        background-color: ;
        border-radius: 15px;
        margin-left: 60px;
       
       
}
#devenir{
    
    margin-top: 350px;
 

    
}

.blocform2{
    background-color: #fee7d8;
    border-radius: 15px;
    margin: auto;
    height: 100px ;
    width: 100px;
    text-align: center;
    font-size: 13px;
}

.date {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.icons{
    font-size: small;
}


    }